.home-content-section {
    width: 100%;
    max-height: 100vh;
}

#content-section-1 {
    background-image: url(https://images.unsplash.com/photo-1543857778-c4a1a3e0b2eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=953&q=80);
    background-repeat: no-repeat;
    background-size: 100%;
}


#home-button-1 {
    width: 75%;
    margin-left: 12.5%;
    margin-top: 10%;
}

.card .card-image img {
    height: 205px;
}

.card-content {
    text-align: left;
}

.sponsor {
    width: 100%;
    height: 300px;
    margin-bottom: 1rem;
}

.sponsor-img {
    width: 100%;
    height: 250px;
}

.sponsor-header {
    width: 100%;
    height: 50px;
}