.nav-header:hover {
    background-color: teal;
    color: #ffffff !important;
}

nav .sidenav-trigger {
    color: #006064;
}

nav {
    z-index: 2;
}

#main-nav-bar {
    z-index: 3;
}

#nav-header {
    margin-top: 65px;
    display: flex;
    justify-content: space-evenly;
    background-color: #054848;
    line-height: 4rem;
    height: 4rem;
}

.nav-category {
    width: 33.33%;
    text-align: center;
    position: relative;
    transition: 0.3s;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.selected {
    background-color: #fff;
    color: #054848;
}

.nav-category:hover,
.nav-category:focus,
.main-item:hover,
.main-item:focus {
    background-color: #fff;
    color: #054848;
    cursor: pointer;
}

.main-item:hover .sub-item,
.main-item:focus .sub-item {
    background-color: #056262;
    color: #fff;
}

.main-category-title {
    text-align: center;
}

.main-category-menu {
    width: 25vw;
    background-color: #044949;
    color: #fff;
    position: absolute;
    top: 55px;
    z-index: 2;
}

.main-item {
    text-align: center;
    width: 25vw;
    position: relative;
}

.category-title {
    width: 100%;
    font-weight: bold;
}

.sub-category-menu {
    width: 100%;
    position: absolute;
    right: -100%;
    top: -100%;
    background-color: #056262;
}

.sub-item {
    width: 100%;
    transition: 0.3s;
}

.sub-item:hover,
.sub-item:focus {
    background-color: #fff;
    color: #056262;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.49) inset;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.49) inset;
    -moz-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.49) inset;
}

.nav-category:last-child .main-category-menu .main-item .sub-category-menu {
    left: -100%;
}

@media only screen and (max-width: 500px) {
    .main-category-menu {
        position: absolute;
        top: calc(55px + 6rem);
        left: 0;
        border-top: 5px solid #fff;
    }

    .main-category-menu,
    .main-item {
        width: 100vw;
    }

    .nav-category {
        width: 100%;
        position: initial;
    }

    .sub-item {
        width: 100%;
        padding: 0;
    }

    .nav-category:last-child .main-category-menu .main-item .sub-category-menu {
        left: 0;
        right: 0;
    }

    .sub-category-menu {
        position: relative;
        right: 0;
        left: 0;
        top: 0;
    }

    #nav-header {
        margin-top: 55px;
        line-height: 3rem;
        min-height: 6rem;
    }
}